DOCKERHUB_USERNAME=gnaiem686

YOLO_IMAGE_TAG=replace-with-git-sha
AGENT_IMAGE_TAG=replace-with-git-sha
FRONTEND_IMAGE_TAG=replace-with-git-sha
IMG_PROC_MCP_IMAGE_TAG=replace-with-git-sha

AWS_S3_BUCKET=gnaiem-polyai-images
AWS_REGION=us-east-1
AWS_DEFAULT_REGION=us-east-1
CONFIDENCE_THRESHOLD=0.5
MODEL=bedrock/amazon.nova-micro-v1:0
